[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
faker = "*"
alembic = "*"
ipdb = "*"
typer = "*"

[dev-packages]

[requires]
python_version = "3.13"
